target/*
build/*
.gradle/*
.settings/*
.classpath
.project
.factorypath
.attach_pid*
.idea
*.iml
/target
.sts4-cache/
.vscode
_site/
*.css
!petclinic.css
variables.tf
.terraform.lock.hcl
.terraform/
terraform.tfstate
terraform.tfstate.backup
*.jar
